<div class="row">
    <div class="col-md-12">
        <h4 class="text-muted">
            <img class="svg" width="25px" src="images/favorites.svg"></img>
            Favorites
        </h4>
    </div>
</div>
{{#each favorites}}
	<table class="table routeTable favoritesTable" style="background-color: #059;">
	    <tr class="favoriteRoute {{ serviceId }}" name="{{ serviceId }}" style="background-color:#{{routeColorCode}};">
			<td class="line">{{ busNumber }}<img class="transit_logo" src="{{routeIcon}}"></img></td>
			<td class="line">{{ route }}</td>
			<td class="statusChevron"><span id="{{ serviceId }}" class="glyphicon glyphicon-trash glyphicon-inverse trash"></span></td>
		</tr>
	</table>
{{/each}}