<div class="row">
    <div class="col-md-12">
        <h4 class="text-muted refreshNearby">
            <img class="svg" width="25px" src="images/location.svg"></img>
            Nearby
            <span class="glyphicon glyphicon-refresh glyphicon-inverse pull-right"></span>
        </h4>
    </div>
</div>

<div class="spinner" id="nearbySpinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
            
{{#if error}}
	<div class="alert alert-warning fade in" id="error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p><strong>Sorry! </strong>Nearby Stops Unavailable</p>
    </div>
{{else}}
	{{#each stops}}
		<table class="table routeTable nearbyTable" style="background-color: #{{routeColorCode}};">
			
			{{#if busStop}}
				<tr class="nearbyRoute {{ stpid }}">
			{{else}}
				<tr class="nearbyRoute {{ serviceId }}">
			{{/if}}
				
				{{#if busStop}}
					<td class="line">#{{ serviceId }}<img class="transit_logo" src="{{routeIcon}}"></img></td>
					<td class="line">Stop #{{ stpid }}</td>
				{{else}}
					<td class="line"><img class="transit_logo" src="{{routeIcon}}"></img></td>
				{{/if}}
				<td class="line">{{ stopName }}</td>
			</tr>
		</table>
	{{/each}}
{{/if}}