<div style="background-color:#{{routeColorCode}};">
	<table class="table routeTable">
		<tr>
			<td>
				<div class="line">{{ busNumber }}
				<img class="transit_logo" src={{routeIcon}}></img></div>
			</td>
			<td>
				<div class="line">{{route}}</div>
			</td>
		</tr>
		<table class="table routeTable">
			<tr>
				<td class="line">{{ address }}</td>
			</tr>
		</table>
	</table>
</div>