<div class="row">
    <div class="col-md-12">
        <h4 class="text-muted">
            <img class="svg" width="25px" src="images/cta_train.svg"></img>
            Arrivals
        </h4>
    </div>
    <div class="serviceId {{ serviceId }}"/>
</div>
<table class="table routeTable" style="background-color:#{{routeColorCode}};">
		<tr>
			<td class="line" style="color: #{{routeTextColor}};">
				{{#if busRoute}}
					#{{serviceId}}
				{{/if}}
				<img class="transit_logo" src="{{routeIcon}}"></img></td>
			<td class="line" style="color: #{{routeTextColor}};">{{ route }}</td>
			<td class="line" style="color: #{{routeTextColor}};">{{ routeStatus }}</td>
			<td class="statusChevron">
				<svg width="25px" height="25px">
				<polygon class="favorite" pointer-events="visible" fill="{{ favorite }}" stroke="#FDD403" stroke-width="2" stroke-miterlimit="10" points="18.16,21.719 12.517,17.369 6.896,21.742 9.031,14.682 3.389,10.334 10.351,10.319 12.485,3.259 14.652,10.309 21.611,10.293 15.99,14.668 "/>
				</svg>
			</td>
		</tr>
		<tr><td class="line" style="color: #{{routeTextColor}};">{{ address }}</td></tr>
</table>
{{#if busRoute}}
<form class="row">
    <div class="col-sm-12 col-md-12">
        <input type="text" class="form-control busStopsTypeahead typeahead" placeholder="Bus Stop Or #"></input>
    </div>
</form>
{{/if}}