<div class="row">
    <div class="col-md-12">
        <h4 class="text-muted">
            <img class="svg" width="25px" src="images/cta_train.svg"></img>
            Status
        </h4>
    </div>
</div>
<div id="routeStatus" class="accordion">
        {{#each routes}}
        <div class="accordion-group line routeAlert" style="background-color:#{{ RouteColorCode }}";
        data-parent="#routeStatus" data-toggle="collapse" data-target="#{{ ServiceId }}" class="accordion-toggle">
                <div class="accordion-heading">
                        <table class="table routeTable"><tr>
                        <td><img class="transit_logo" src="images/cta_train.png"></img></td>
                        <td><div class="line">{{ Route }}</div></td>
                        <td><div class="line">{{ RouteStatus }}</div></td>
                        {{{ chevron }}}</tr></table> 
                </div>
                <div class="accordion-body collapse" id="{{ ServiceId }}"> 
                        <div class="accordion-inner line routeAlertText">
                                {{{ description }}}       
                        </div>
                </div>
        </div>
        {{/each}}
</div>