<div style="background-color:#{{routeColorCode}};">
	<table class="table routeTable typeaheadSuggestions">
		<tr><td class="line">{{ busNumber }} <img class="transit_logo" src={{routeIcon}}></img></td>
			<td class="line" style="color: #{{routeTextColor}};">{{route}}</td>
			<td class="line" style="color: #{{routeTextColor}};">{{ routeStatus }}</td>
		</tr>
		<table class="table routeTable"><tr><td class="line" style="color: #{{routeTextColor}};">{{ address }}</td></tr></table>
	</table>
</div>